# Mac files
.DS_Store

# VS Code
.vscode

# .mod 
*.mod

# Contents of run directories
#Examples/*/runs/input*
#Examples/*/cog_runs/input*
Examples/*/*_scan/input*
/Users/lmarthur/Documents/Research/mc-new/Examples/SwerveTemplateLMA/aoa_scan


# Data files
*.dat

# out